---
import Layout from '../layouts/Base.astro';
---

<Layout title="Home">
<div class="textright">
    <p class="para2">Hello and Welcome to my website</p>
    <p class="para2">Use the menu on the left to browse my content</p>
</Layout>
